@import "variabels.scss";
.main__sidebar {
	flex: 0 1 24%;
	border: 1px solid red;
	margin-top: 32px;
	height: 500px;
}
.sidebar__title {
	color: $silver;
	font-size: 22px;
	line-height: 150%;
	font-family: "Stolzl-book";
}
