@import "variabels.scss";
.sidebar__title {
	margin-bottom: 39px;
}
.sidebar__filter-list {
	margin-top: 24px;
}
.sidebar__title {
	color: $silver;
	font-size: 22px;
	line-height: 150%;
	font-family: "Stolzl-book";
}
