.search__container {
	width: 100%;
	position: relative;
	height: 100%;
}
.search__input {
	width: 100%;
	height: 100%;
	border: 1.6px solid #e0e3e3;
	border-radius: 4px;
	padding-left: 52px;
	&::placeholder {
		font-size: 12px;
		line-height: 150%;
		color: #5c5f60;
	}
	&:focus {
		outline: none;
	}
}
.search__megnifire {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
}
