.header__search {
	width: 639px;
	height: 40px;
	position: relative;
}
.header__input {
	width: 100%;
	height: 100%;
	border: 1.6px solid #e0e3e3;
	border-radius: 4px;
	&::placeholder {
		font-size: 12px;
		line-height: 150%;
		color: #5c5f60;
		padding-left: 52px;
	}
}
.header__megnifire {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
}
