.main {
	border-top: 1.6px solid #e0e3e3;
}
.main__container {
}
.contaier {
}
.main__breadcrumbs {
	margin-top: 32px;
}
.main__title {
	margin-top: 40px;
	margin-bottom: 32px;
	font-size: 28px;
}
.main__content {
}
.main__sidebar {
}
.main__goods {
	width: 100%;
	margin-top: 24px;
}
@media (max-width: 992px) {
	.main__sidebar {
		margin: 0px auto;
	}
}
