.header__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 22px;
	padding-bottom: 22px;
	border-bottom: 1.6px solid #e0e3e3;
	position: relative;
}
.header__logo {
}
.header__search {
	width: 639px;
	height: 40px;
}
.header__btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 12px;
	width: 129px;
	height: 38px;
	background: #2d3132;
	border-radius: 4px;
}
.header__features {
	display: flex;
	align-items: center;
}
.header__features-item {
	cursor: pointer;
	margin-left: 24px;
	position: relative;
	&:first-child {
		margin-left: 0px;
	}
}

.quintity {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -8px;
	left: 13px;
	font-size: 10px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #eff1f1;
	border: 2.4px solid #ffffff;
}
.orange {
	background-color: #ff5449;
	color: white;
}
.header__features-avatar {
	display: flex;
	img {
		margin-right: 8px;
	}
}
@media (max-width: 768px) {
	.header__features-item {
		margin-left: 16px;
	}
}
