.footer {
	background: #eff1f1;
	margin-top: 112px;
}
.footer__container {
}
.container {
}
.footer__content {
	padding-top: 72px;
	padding-bottom: 14px;
}
.footer__row {
	border-bottom: 1.6px solid #e0e3e3;
	padding-bottom: 50px;
}
.footer__img {
}
.footer__data {
	margin-top: 24px;
}
