@import "variabels.scss";
.form-select {
	width: 170px;
	height: 34px;
	//background: #eff1f1;
	font-size: 12px;
	border-radius: 100px;
}
.card {
	border: 1px solid #eff1f1;
	padding-top: 24px;
}
.card-title {
	color: $black;
	font-size: 14px;
}
.accordion {
	--bs-accordion-bg: #eff1f1;
}
.accordion-item {
	background-color: white;
	margin-bottom: 2px;
	--bs-accordion-border-radius: 0px;
	--bs-accordion-border-color: none;
	--bs-accordion-inner-border-radius: 0px;
}
.accordion-button {
	font-size: 14px;
	color: $lightBlack;
	font-family: "Stolzl-book";
}
