@import "variabels.scss";
.form-select {
	width: 170px;
	height: 34px;
	//background: #eff1f1;
	font-size: 12px;
	border-radius: 100px;
}
.card {
	border: 1px solid #eff1f1;
	padding-top: 24px;
}

.card-title {
	color: $black;
	font-size: 14px;
}
