@import "variabels.scss";
/* File to change boostrap styles*/
.header__navbar {
	--bs-navbar-padding-y: none;
}
.header__navbar-nav {
	--bs-nav-link-padding-y: none;
}
.header__select {
	border: none;
	width: 85px;
	font-size: 12px;
}
.main__select-form {
	height: 34px;
	background-color: #eff1f1;
	font-size: 12px;
	border-radius: 100px;
	max-width: 200px;
}
.goods__card {
	border: 1px solid #eff1f1;
	padding-top: 24px;
}
.goods__card-title {
	color: $black;
	font-size: 14px;
}
.sidebar__accordion {
	--bs-accordion-bg: #eff1f1;
	--bs-accordion-active-bg: #eff1f1;
	--bs-accordion-active-color: $lightBlack;
	--bs-accordion-btn-active-icon: url(./assets/icons/arrow-select.svg);
}
.sidebar__accordion-item {
	background-color: white;
	margin-bottom: 2px;
	--bs-accordion-border-radius: 0px;
	--bs-accordion-border-color: none;
	--bs-accordion-inner-border-radius: 0px;
}
.accordion-button {
	font-size: 14px;
	color: $lightBlack;
	font-family: "Stolzl-book";
}
.main__pagination {
	--bs-pagination-color: none;
	--bs-pagination-border-width: 1.6px;
	--bs-pagination-border-color: none;
	--bs-pagination-active-color: none;
	--bs-pagination-active-bg: none;
	--bs-pagination-font-size: 10px;
	--bs-pagination-hover-color: none;
	--bs-pagination-hover-bg: none;
	--bs-pagination-bg: none;
}
