.header__promo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	background: #cbdcff;
}
.header__promo-images {
	display: flex;
}
.header__promo-image {
	object-fit: cover;
}
.header__promo-title {
	color: #0f1a34;
	margin-left: 10px;
}
