.header__promo {
	height: 44px;
	background: #cbdcff;
}
.header__promo-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.header__promo-title {
	font-size: 16px;
	line-height: 150%;
	color: #0f1a34;
	margin-left: 10px;
}
