.main__container {
	position: relative;
	margin-bottom: 50px;
}
.main__cover {
	width: 100%;
	height: 100%;
}
.main__text {
	font-size: 52px;
}
.main__text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.main__btn {
	text-decoration: none;
	width: 500px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 30px;
}
