.main__container {
	position: relative;
}
.main__cover {
	width: 100%;
	height: 100%;
	min-height: 50vh;
	object-fit: cover;
}
.main__text {
	font-size: 52px;
}
.main__text {
	text-align: center;
}
.main__btn {
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 30px;
}
@media (max-width: 960px) {
	.main__btn {
		width: 400px;
	}
}
@media (max-width: 768px) {
	.main__btn {
		width: 300px;
	}
}
