@import "variabels.scss";

.nav-link {
	padding: 0px;
}
.header__link-route {
	display: block;
	height: 100%;
	text-decoration: none;
	color: $black;
	font-size: 13px;
	font-family: "Stolzl-medium";
	text-transform: uppercase;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-right: 12px;
	position: relative;
	&::before {
		content: "";
		width: 100%;
		height: 3px;
		background-color: black;
		display: none;
		position: absolute;
		bottom: 0px;
		left: 0px;
	}
	&:hover {
		&::before {
			display: block;
		}
	}
}
